# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
end_of_line=lf
insert_final_newline=true
csharp_using_directive_placement=inside_namespace:warning

# Xml files
[*.xml]
indent_size = 2
